<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <div>
        <h1>
            这是主页
        </h1>
    </div>
    <div>
        <a href="taobao/">
            <h2>
                淘宝
            </h2>
        </a>
        <a href="jingdong/">
            <h2>
                京东
            </h2>
        </a>
        <a href="meituan/">
            <h2>
                美团
            </h2>
        </a>
        <a href="">
            <h2>
                ...
            </h2>
        </a>
    </div>

</body>
</html>